body{
  font-family:sans-serif;
  margin:0;
  background:#f5f7f5;
}

.container{
  max-width:900px;
  margin:auto;
}

.header{
  background:#006400;
  color:#D4AF37;
  padding:15px;
  text-align:center;
  font-weight:bold;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.card{
  background:#fff;
  padding:20px;
  text-align:center;
  border-radius:10px;
  border:2px solid #D4AF37;
  cursor:pointer;
}
